<div class="project-descriptor--wrapper">
  <header class="project--header">
    <img class="project--icon" src="images/perma-site.svg" />
    <h2 class="project--title">
      {{#link-to 'project' project.slugTitle}}
        {{project.title}}
      {{/link-to}}
    </h2>
  </header>
  <p class="project--description">{{project.description}}</p>
</div>
