<div class="search-box--wrapper">
  {{input type="text" class="search-box--query" value=searchTerm
    key-press="setSearch" placeholder=placeholderText}}
  <button
    class="button search-box--submit"
    {{action "search"}}
    disabled={{isSearching}}>Search</button>
  {{#if hasSearchResults}}
    {{#search-results-box
      results=(mut attrs.results)
      onselect=(action "resultSelected")
      onclose=(action "closeSearch")}}
    {{/search-results-box}}
  {{/if}}
</div>
