<div class="user--menu-wrapper">
  <button class="user-button--wrapper">
    <img class="user-button--profile-pic" src={{user.profileImageURL}} />
    <h1 class="user-button--name">{{user.displayName}}</h1>
  </button>
  <nav class="user--menu">
    {{#link-to "projects"}}Your Projects{{/link-to}}
    <a {{action "signOut"}}>Sign Out</a>
  </nav>
</div>
