$index-page--search-box-bg: #F0F0F0;
$index-page--search-box-border-colour: #CCC;
$index-page-spacing: $APP_BASE_SPACING;

#index-page {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;

  .leaflet-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .multibox--wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: $index-page-spacing;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: auto;
    padding: 0 $APP_BASE_SPACING / 2;
    background: $index-page--search-box-bg;
    border: 1px solid $index-page--search-box-border-colour;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
  }

  .current-location--wrapper {
    z-index: 10;
    position: absolute;
    right: $APP_BASE_SPACING;

    .button {
      box-shadow: 0 2px 2px rgba(0,0,0,.25);
    }
  }
}
