$index-page--search-box-bg: #FFF;
$index-page--search-box-border-colour: #CCC;
$index-page-spacing: $APP_BASE_SPACING;

#index-page {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;

  .map-and-list--wrapper {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 92.5vh;
  }

  .projects-list--container {
    display:none;

    @include mq($APP_TABLET_SCREEN_BREAKPOINT) {
      display: block;
      width: 30vw;
      min-width: 30rem;
      max-height: 100%;
      background: #FFF;
      z-index: 11;
      overflow-y: scroll;
    }
  }

  .project-list--toggler {
    position: absolute;
    top: $APP_BASE_SPACING;
    left: $APP_BASE_SPACING;
    z-index: 20;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    font-size: 1.3rem;
    display: none;

    @include mq($APP_TABLET_SCREEN_BREAKPOINT) {
      display: block;
    }
  }

  .leaflet-container {
    height: 100%;
  }

  .leaflet-control-container {
    .leaflet-top.leaflet-left {
      left: initial;
      right: 0;
      top: ($APP_BASE_SPACING * 4);
    }
  }

  .leaflet-control-zoom {
    right: $APP_BASE_SPACING;
  }

  .multibox--wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: ($index-page-spacing * 2);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: auto;
    padding: 0 $APP_BASE_SPACING;
    background: $index-page--search-box-bg;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    border-radius: ($APP_BASE_SPACING / 2);

    @include mq($APP_SMALL_SCREEN_BREAKPOINT) {
      top: $index-page-spacing;
    }

    input {
      font-size: 1.8rem;
      border: none;
      font-weight: 300;
    }
  }

  .current-location--ember-wrapper {
    position: absolute;
    left: $APP_BASE_SPACING;
    bottom: $APP_BASE_SPACING;
    z-index: 10;

    @include mq($APP_TABLET_SCREEN_BREAKPOINT) {
      left: initial;
      right: $APP_BASE_SPACING;
      top: $APP_BASE_SPACING;
      bottom: initial;
    }
  }

  .current-location--wrapper {
    .button {
      box-shadow: 0 2px 2px rgba(0,0,0,.25);
      font-size: 2rem;
      @include mq($APP_TABLET_SCREEN_BREAKPOINT) {
        font-size: 1.5rem;
      }
    }
  }
}
