#index-page {
  .search-box--wrapper {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 50vw;
    height: 10vh;
  }

  .search-results-box--wrapper {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50vw;
  }
}
