$login-border-colour: #CCC;
$fb-login-bg: $FACEBOOK_BG;
$tw-login-bg: $TWITTER_BG;

#login-page {
  text-align: center;
  
  .sign-in--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $APP_BASE_SPACING;
    border: 1px solid $login-border-colour;
    border-radius: 1vh;
    text-align: center;


    @include mq($APP_SMALL_SCREEN_BREAKPOINT) {
      width: 50%;
      max-width: 35rem;
      margin: 0 auto;
    }
  }

  .login--sign-in {
    margin: 1vh;
    padding: 1vh;
    text-transform: uppercase;

    .fa {
      margin-right: $APP_BASE_SPACING;
      font-size: 2rem;
      vertical-align: middle;
    }

    &.-facebook-sign-in {
      background: $fb-login-bg;
      border-color: darken($fb-login-bg, 10%);
    }

    &.-twitter-sign-in {
      background: $tw-login-bg;
      border-color: darken($tw-login-bg, 10%);
    }
  }
}
