$new-page--address-padding: $APP_BASE_SPACING / 4;
#new-project-page {
  display: flex;

  .new-project--wrapper {
    width: 50%;
    height: 100%;
  }

  .leaflet-container {
    width: 50%;
    height: 100vh;
  }

  .search-box--wrapper {
    position: relative;
  }

  .project--description textarea {
    height: 8rem;
  }

  .address-wrapper {

    .form-input--wrapper {
      margin: 0;
      padding-top: $new-page--address-padding;
      padding-bottom: $new-page--address-padding;
    }

    .address--city,
    .address--county,
    .address--country {
      width: 50%;
    }

    .address--postcode {
      width: 25%;
    }
  }
}
