$facebook-bg-colour: $FACEBOOK_BG;
$twitter-bg-colour: $TWITTER_BG;

.-facebook-page {
  .input--label {
    background: $facebook-bg-colour;
    border: 1px solid $facebook-bg-colour;
    min-width: 130px;
  }
}

.-twitter-name {
  .input--label {
    background: $twitter-bg-colour;
    border: 1px solid $twitter-bg-colour;
  }
}

.-facebook-page,
.-twitter-name {
  .input--label {
    color: white;
  }
}
