//VARIABLES
@import 'variables/measurements';
@import 'variables/colours';

//MIXINS
@import 'mixins/mq';

//ELEMENTS
@import 'elements/forms';
@import 'elements/buttons';
@import 'elements/links';
@import 'elements/text';

//COMPONENTS
@import 'components/header';
@import 'components/leaflet';
@import 'components/project-descriptor';
@import 'components/search-box';
@import 'components/search-results-box';
@import 'components/user-button';
@import 'components/display-errors';
@import 'components/projects-list';
@import 'components/flash-messages';

//VIEWS
@import 'views/index';
@import 'views/project';
@import 'views/project-show';
@import 'views/new';
@import 'views/projects';
@import 'views/login';

html,
body,
main {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  min-width: $APP_MIN_SIZE;
}

body {
  min-width: $APP_MIN_SIZE;
  padding-top: $APP_HEADER_HEIGHT;
  font-family: 'Lato', sans-serif;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.view--wrapper {
  max-width: 960px;
  width: 100%;
  padding: 0 $APP_BASE_SPACING;
  margin: 0 auto;
  position: relative;
}
