//VARIABLES
@import 'variables/measurements';

//ELEMENTS
@import 'elements/forms';
@import 'elements/buttons';
@import 'elements/links';

//COMPONENTS
@import 'components/header';
@import 'components/leaflet';
@import 'components/project-descriptor';
@import 'components/search-box';
@import 'components/search-results-box';
@import 'components/user-button';

//VIEWS
@import 'views/index';
@import 'views/project';
@import 'views/new';
@import 'views/projects';

html,
body,
main {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  padding-top: $APP_HEADER_HEIGHT;
  font-family: 'Lato', sans-serif;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.view--wrapper {
  max-width: 960px;
  padding: $APP_BASE_SPACING;
  margin: 0 auto;
}
