<section id="projects-page" class="view--wrapper">
  <h1>Your Projects</h1>
  <nav>
    {{#link-to "projects.new"}}Add Project{{/link-to}}
  </nav>
  {{#each model as |project|}}
    <h1>{{project.title}}</h1>
    {{#link-to 'project' project.id}}View{{/link-to}}
    {{#link-to 'project.edit' project.id }}Edit{{/link-to}}
    <a {{action "deleteProject" project}}>Delete</a>
  {{/each}}
</section>
