<section id="projects-page" class="view--wrapper">
  <h1>Your Projects</h1>
  <nav>
    {{#link-to "projects.new" class="button"}}Add Project{{/link-to}}
  </nav>
  {{#each model as |project|}}
    <div class="projects--project-wrapper">
      <h1>{{project.title}}</h1>
      <p>{{project.description}}</p>
      {{#link-to 'project' project.slugTitle class="button"}}
        View
      {{/link-to}}
      {{#link-to
        'project.edit' project.slugTitle
        class="button"}}
        Edit
      {{/link-to}}
      <a class="button" {{action "deleteProject" project}}>Delete</a>
  </div>
  {{/each}}
</section>
