$app-header-height: $APP_HEADER_HEIGHT;
$app-header-min-height: $APP_HEADER_MIN_HEIGHT;
$app-header-bg: #FFF;
$app-header-border-colour: #DDD;
$app-header-spacing: $APP_BASE_SPACING;
$app-header-z-index: 100;
$app-header-signin-bg: $FACEBOOK_BG;
$app-header-nav-margin: 5rem;

.app--header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: $app-header-min-height;
  height: $app-header-height;
  z-index: $app-header-z-index;
  background: $app-header-bg;
  border-bottom: 1px solid $app-header-border-colour;
  padding: 0 ($app-header-spacing * 2);


  .header--content-wrapper {
    display: flex;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .app--header--name-wrapper {
    flex: 1;
    overflow: hidden;
  }

  .app--header--logo {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
  }

  .app--header--name {
    display: inline-block;
    max-width: 30%;
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }

  .app--header--subtitle {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .app--header--nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin-right: $app-header-nav-margin;

    .app--header--nav-link {
      display: inline-block;
      margin: $app-header-spacing;
      text-transform: uppercase;
      text-decoration: none
    }
  }
  .app--header--sign-in {
    background: $app-header-signin-bg;
    border-color: $app-header-signin-bg;
    text-transform: uppercase;
  }

  .app--header--facebook-like {
    width: 0rem;
    margin: $app-header-spacing;
  }
}
