.leaflet-container {
  width: 100%;
  height: 100%;
  overflow: hidden;


  .leaflet-control-zoom {
    display: none;
    @include mq($APP_TABLET_SCREEN_BREAKPOINT) {
      display: block;
    }
  }
}
