.search-results-box--wrapper {
  position: absolute;
  top: 102.5%;
  background: #FFF;
  width: 100%;
  border: 1px solid #CCC;
  z-index: 10;
  box-shadow: 5px 5px 5px rgba(0,0,0,.25);

  .is-hidden & {
    display: none;
  }

  .search-results-box--list{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .search-results-box--item {
    border-bottom: 1px solid #EEE;
    padding: 5px;
  }

  .search-result--place-name{
    font-size: 1.3rem;
  }

}
