.search-box--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-width: 300px;
  width: 50vw;
  padding: $APP_BASE_SPACING 0;

  .search-box--query {
    flex: 1 0 50%;
    margin-right: $APP_BASE_SPACING;
  }

  .search-box--submit {
  }
}
