<div id="about-page" class="view--wrapper">
  <h1>What's this site about?</h1>
  <p>This site exists to help those looking to find permaculture projects in their local vicinity
    as well as those with Permaculture Sites &amp; Projects who want to let more people know how
    to find them.
  </p>
  <h1>How Can I help?</h1>
  <p>Primarily by sharing this with anyone who's running a permaculture project and wants more people
    to know about it!</p>
  <h1>How Can I use this site</h1>
  <p>You can search for projects that have been listed on the site, you can add your own project, big or small
    and you can also use the data provided to make your own sites.</p>
  <h1>How can I access your data?</h1>
  <p>The source code for this site is public and available at:
    <a href="https://github.com/damien-mcmahon/perma-projects">Perma Projects on Github</a>
    and here is the <a href="https://perma-project.firebaseio.com/projects.json">full list of permaculture projects</a> on this site
  </p>
</div>
