<div id="about-page" class="view--wrapper">
  <h1>Perma-Projects</h1>
  <p>This site exists to help those looking to find permaculture projects in their local vicinity
    as well as those with Permaculture Sites &amp; Projects who want to let more people know how
    to find them.
  </p>
</div>
