<section id="forgot-password-page" class="view--wrapper">
  <form>
    <div class="form-input--wrapper">
      <label for="email">Email:</label>
      {{input
        type="text"
        value=model.email
        id="email"
      }}
    </div>
    <button class="button" {{action "sendResetLink"}}>Send Reset Link</button>
  </form>
</section>
