<section id="index-page">
  <div class="view--wrapper">
    <div class="multibox--wrapper">
      {{#search-box
        search=(action "onSearch")
        searching=(mut isSearching)
        results=(mut searchResults)
        onSelect=(action "selectAddress")
        placeholderText="Search For Projects or Places"
      }}{{/search-box}}
    </div>
  </div>
  {{#leaflet-map
    scrollWheelZoom=false
    lat=mapLocation.lat
    lng=mapLocation.lng
    onMoveend=(action "getProjectsForBounds")
    zoom=this.zoomLevel
    worldCopyJump=true}}
    {{tile-layer url=selectedStyle.url detectRetina=DETECT_RETINA}}
    {{#each model as |project|}}
      {{#if project.locationIsPublic}}
        {{#marker-layer lat=project.lat lng=project.lng }}
          {{#project-descriptor project=project}}{{/project-descriptor}}
          {{/marker-layer}}
      {{else}}
        {{#circle-layer location=project.location radius=privacyCircleRadius}}
          {{#project-descriptor project=project}}{{/project-descriptor}}
        {{/circle-layer}}
      {{/if}}
    {{/each}}
  {{/leaflet-map}}
  {{#current-location class="current-location--ember-wrapper" onFind=(action "setLocation")}}{{/current-location}}
</section>
