<section id="index-page">
  <div class="view--wrapper">
    {{#search-box
      search=(action "onSearch")
      searching=(mut isSearching)
      results=(mut searchResults)
      onSelect=(action "selectAddress")
    }}{{/search-box}}
  </div>
  {{#leaflet-map
    scrollWheelZoom=false
    lat=mapLocation.lat
    lng=mapLocation.lng
    zoom=this.zoomLevel}}
    {{tile-layer url=selectedStyle.url}}
    {{#each model as |project|}}
      {{#marker-layer lat=project.location.lat lng=project.location.lng }}
        {{#project-descriptor project=project}}
        {{/project-descriptor}}
      {{/marker-layer}}
    {{/each}}
  {{/leaflet-map}}
</section>
